<ion-content fullscreen="true">
  <div class="top">
    <div class="top-left">
      <ion-menu-button></ion-menu-button>
      Sales deck {{place}}
    </div>
    <div class="top-right">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>
  </div>
  <div class="search">
    <ion-input type="text" placeholder="Search">
      <ion-icon name="search-outline"></ion-icon>    
    </ion-input>
    <ion-icon name="flash-outline"></ion-icon>
  </div>
  <div class="items">
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let item of items" id="items">
          <p>{{item.nam}}</p>
          <p>{{item.prc}}</p>
        </ion-col>
        <ion-col size="3" (click)="goto()" id="add-btn">
          <ion-icon  name="add-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button expand="full">{{no_of_item}} = {{total | currency:'GHC'}}</button>
  </ion-toolbar>
</ion-footer>