ion-toolbar {
  --color: #ffffff; 
  --background: var(--custom-dark-main);

  ion-title {
    font-size: 0.9rem;
    font-weight: 200;
  }
}
ion-content{
  --ion-background-color: var(--custom-light-gray); 

  .swiper-slide {
    height: 8rem;
    width: 600px;
    img {
      max-width: 600px;
      width: 600px;

    }
  }

  .banner-slide {
    background: var(--ion-color-primary-contrast);
    // height: 5rem;
    margin-bottom: 0.5rem;
    display: flex;
  }
  
  
  .mid-section {
    background: var(--ion-color-primary-contrast);
    height: 5rem;
    margin: 0 5px 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      width: 50px;
      height: 30px;
      color: var(--ion-color-primary-contrast);
    }
  }
  ion-col {
    background: var(--ion-color-primary-contrast);
    margin-bottom: 3px;
    // display: flex;
    // flex-direction: column;
    padding-bottom: 0.5rem;
    // justify-content: flex-end;
    
  }
  h1 {
    margin: 0;
  }
  .name {
    font-weight: 200;
    font-size: 0.9rem;
  }
  .price {
    font-weight: 400;
    font-size: 0.8rem;
  }
  .category-name {
    font-weight: 400;
    font-size: 0.7rem;
  }
  img {
    margin:0 0 0.5rem 0;
    border-radius: 2px;
  }
  .categories{
    margin: 1.5rem 0 0 0;
    padding-left: 0.2rem;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
}
