ion-toolbar {
    --color: #ffffff; 
    --background: var(--custom-dark-main);
    ion-button,
    ion-back-button {
      --color: #fff;
    }
    ion-title {
        font-size: 0.9rem;
        font-weight: 200;
    }
}
ion-content {
    --ion-background-color: var(--custom-light-gray);

    ion-grid {
        --ion-grid-padding: 0;
    }
    ion-col {
        margin: 0.5rem 0 0 0;
        padding: 0;
    }
    // ion-col {
    //     background: var(--custom-light-gray);
    //     color: var(--custom-pure-black);
    //     border-radius: 3px;
    //     padding: 5px 10px;
    //     margin: 0.5rem 0 0 0;
    // }
    ion-row {
        margin-bottom: 10px;
    }
    ion-button {
        font-weight: 200;
    }
    .empty-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--ion-color-primary-contrast);

        ion-icon {
            font-size: 10rem;
            color: var(--ion-color-medium)
        }
    }
    .order-action {
        background: var(--custom-pure-white);
        padding: 0.5rem;

        p{
            margin: 0;
        }
        .total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            padding-bottom: 0.5rem;

            #total {
                font-weight: 400;
            }
            #amount {
                font-weight: 700;
                color: var(--ion-color-danger-shade);
            }
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        background: var(--ion-color-primary-contrast);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 15px 15px 5px 15px;
        margin: 0 10px 10px 10px;
    
        .card-content {
            display: flex;
            align-items: center;
            
            p {
                margin: 0;
                padding: 0;
            }
            .card-info {
                padding: 5px;
            }
            img {
                height: 50%;
                width: 40%;
                margin-right: 20px;
                border-radius: 5px;
            }
            #title {
                font-weight: 600;
                color: var(--custom-pure-black);
            }
            #description{
                font-size: 0.8rem;
                color: var(--custom-dark-gray);
                font-weight: 700;
                margin-top: 0.2rem;
            }
        }
        .card-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .qty-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            margin: 10px;
        }
        ion-input {
            margin: 0 10px 0 10px;
            width: 50px;
            --padding-start:1px;
        }
    }
    
}