ion-content {
    --ion-background-color: #ffffff;
    // --padding-start: 10px;
    // --padding-end: 10px;
    // --padding-top: 5%;

    ion-menu-button {
        font-size: 1.4rem;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .top-left {
        display: flex;
        justify-content: space-between; //9kM4Q4kvd7PE3m0tRW
        align-items: center;
        letter-spacing: 1px;
        font-size: 1.2rem;
        ion-icon {
            margin-right: 1.5rem;
        }
    }
}
.pos-main {
    background-color: #f7fafc;
    height: 90vh;

    .item-image {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-holder {
            height: 150px;
            width: 150px;
            display: inline-block;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

            img {
                height: 100%;
            }

        }
    }
    .item-props {
        background-color: #ffffff;
        padding: 0 1rem 2rem 1rem;
        ion-item {
            margin: 0;
            // padding-bottom: 1rem;
        }
        ion-label {
            font-weight: 100;
        }
    }
}
button {
    background: var(--ion-color-primary); 
    color: var(--custom-pure-white);
    text-transform: none;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
}
ion-toolbar {
    box-shadow: 0 4px 6px -1px rgba(221, 216, 216, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1rem;
}
